/* *{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}*/
body{
    margin: 50px;
    background-color: #1d232A;
    font-family: sans-serif;
}

h1{
    text-align: center;
}
 
.caixa{
    border: 5px solid #ffee00;
    padding: 70px;
    border-radius: 20px;
    background-color: #eee;
    width: 800px;
    margin: auto;  
         
}

.key {
    width: 50px;
    padding: 7px 7px; /* espaço interno do campo*/
    margin-bottom: 30px; /*margem abaixo do campo (gera espaço entre a chave e o form*/
    text-align: center;
}
#offset{
    width: 50px;
    padding: 7px 7px;
    font-size: large;   /*estudar esse large*/
    border: 1px solid #000;  
    border-radius: 8px;
}

textarea{
    display: inline-block;
    width: 420px;
    height: 70px;
    border: 1px solid #000;    
    border-radius: 8px;    
}

button{
    width: 80px;
    background-color: #1d232A;
    color: #eee;
    border-radius: 8px;    
}

.encrypt{
    display:flex; /* fez os 3 elementos da div ficarem um ao lado do outro na mesma linha */ 
}
.decrypt{
    display:flex; 
    margin-top: 50px;
}

.btninstruct{
    padding: 10px;
    background:#1d232A ;
    display: inline-block;
    margin-top: 20px;
    border-radius: 10px;
}

.modal {
    width: 500px;
    height: 350px;
    padding: 10px;
    position: absolute;
    display: none; /*faz sumir a tela de instruções*/
    top: 200px; /* fez sobrepor a section caixa*/ 
    right: 400px; /* fez sobrepor a section caixa*/ 
    border-radius: 15px;
    background-color: whitesmoke;
    border: 5px solid black;   
    animation: animate; 
    animation-duration: 1000ms;
}

@keyframes animate{
    from{opacity: 1;}
    from{opacity: 0;}
}

.fecharModal{
    width: 30px;
    height: 30px;
    background-color:#1d232A;
    border-radius: 50%; /*arredondando um botão */
    float: right; /*passando o botão para cima da div modal */
}

h2{
    text-align: center;
}


